plugin/*~
plugin/src/*~
plugin/*.coq.bak
plugin/*.cmi
*.ml4.d
*.mli.d
*.ml.d
*.mlpack.d
*.cmo
*.cmx
*.cmxs
*.o
*.cmi
plugin/theories/.Patch.aux
plugin/theories/Patch.glob
plugin/theories/Patch.v.d
plugin/theories/Patch.vo
plugin/Makefile.coq
plugin/coq/*.glob
plugin/coq/*.aux
plugin/coq/*.vo
