plugin/*~
plugin/src/*~
plugin/*.coq.bak
plugin/*.cmi
plugin/src/*.ml4.d
plugin/src/*.mli.d
plugin/src/*.ml.d
plugin/src/*.mlpack.d
plugin/src/*.cmo
plugin/src/*.cmx
plugin/src/*.cmxs
plugin/src/*.o
plugin/src/*.cmi
plugin/src/*/*/*.ml4.d
plugin/src/*/*/*.cmi
plugin/src/*/*/*.mli.d
plugin/src/*/*/*.ml.d
plugin/src/*/*/*.mlpack.d
plugin/src/*/*/*.cmo
plugin/src/*/*/*.cmx
plugin/src/*/*/*.cmxs
plugin/src/*/*/*.o
plugin/src/*/*/*.ml4.d
plugin/src/*/*/*.cmi
plugin/theories/.Patch.aux
plugin/theories/Patch.glob
plugin/theories/Patch.v.d
plugin/theories/Patch.vo
plugin/Makefile.coq
plugin/coq/*.glob
plugin/coq/*.aux
plugin/coq/*.vo
