[submodule "plugin/src/coq-plugin-lib"]
	path = plugin/src/coq-plugin-lib
	url = https://github.com/uwplse/coq-plugin-lib.git
[submodule "plugin/deps/fix-to-elim"]
	path = plugin/deps/fix-to-elim
	url = https://github.com/uwplse/fix-to-elim.git
[submodule "plugin/deps/ornamental-search"]
	path = plugin/deps/ornamental-search
	url = https://github.com/uwplse/ornamental-search.git
[submodule "plugin/deps/fundamental-arithmetics"]
	path = plugin/deps/fundamental-arithmetics
	url = https://github.com/coq-contribs/fundamental-arithmetics
